

.grid__row {
  box-sizing: border-box;
  margin: -10px;
  margin-bottom: 0;
}

.grid__row::after {
  content: "";
  display: table;
  clear: both;
}

.grid__col {
  box-sizing: border-box;
  direction: ltr;
  float: left;
  width: 100%;
  max-width: 100%;
  min-height: 1px;
  padding: 10px;
  padding-right: 10px;
}

@media (min-width: 1024px) { 
  .grid__col--1 {
    width: 33.33%;
  }
  .grid__col--2 {
    width: 66.66%;
  }
  .grid__col--3 {
    width: 100%;
  }
}



.article-info.article-info.article-info.article-info  {
  margin-top: 0;
}

.svgIcon {
  height: 1em;
  fill: currentColor;
}

.btn {
  border-radius: 5px;
  display: inline-block;
  padding: 5px 10px;
  transition-property: background, color;
  transition-duration: 0.3s;
  letter-spacing: -0.03em;
  display: inline-flex;
  align-items: center;
}

.btn--primary {
  background-color: #ff5208;
  color: white
}

.btn--primary:visited {
  color: #efefef;
}

.btn--light {
  background-color: #efefef;
  color: #0A2C67;
}

.btn__icon,
.btn--share:before {
  margin-right: 6px;
  vertical-align: middle; /*fallback no flexbox */
  font-size: 19px;
}

.btn__text{
  vertical-align: middle; /*fallback no flexbox */
}

.btn--share:before {
  /* https://codepen.io/jakob-e/pen/doMoML */
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='isolation:isolate' viewBox='0 0 19 19'%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath d='M0 0h19v19H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg clip-path='url(%23a)'%3E%3Cpath fill='%230A2C67' d='M15.346 0a3.654 3.654 0 0 0-3.654 3.654c0 .063.02.12.023.183L5.984 6.714a3.598 3.598 0 0 0-2.33-.868 3.654 3.654 0 0 0 0 7.308c.894 0 1.695-.334 2.33-.868l5.731 2.877c-.003.063-.023.12-.023.183a3.654 3.654 0 1 0 3.654-3.654c-.894 0-1.695.334-2.33.868l-5.73-2.877c.003-.063.022-.12.022-.183s-.019-.12-.022-.183l5.732-2.877a3.588 3.588 0 0 0 2.328.868 3.654 3.654 0 0 0 0-7.308z'/%3E%3C/g%3E%3C/svg%3E ");
  height: 19px;
  width: 19px;
  display: inline-block;
}

.emphasisBlock {
  background-color: #efefef;
  padding: 12px;
}

.emphasisBlock__list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.emphasisBlock__item {
  display: block;
}

.emphasisBlock__item + .emphasisBlock__item {
  margin-top: 10px;
}

.emphasisBlock--inline .emphasisBlock__item {
  display: inline-block;
}

.emphasisBlock--inline  .emphasisBlock__item + .emphasisBlock__item {
  margin-top: 0;
  margin-left: 10px;
}

.RSCArticle__separator {
  border: 1px solid #dfe6ec;
  border-bottom: none;
  width: calc(33.33% - 40px);
}

.RSCArticle__content {
  color: #404040;

}
.RSCArticle__content h1 {
  color: #404040;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.3;
  margin-bottom: 30px;
}

.RSCArticle__content h2 {
  color: #404040;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.3;
}

.RSCArticle__content p {
  color: #404040;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 16px;
  line-height: 1.6;
}

.articleToc {
  background-color: #efefef;
  padding: 12px;
  display: inline-block;
}

.articleToc__list {
  font-weight: bold;
  margin: 0;
}

.metaInfo {

}
.metaInfo__main {
  font-style: italic;
  font-weight: bold;
  font-size: 13px;
}
.metaInfo__sub {

}

.footnote {
  font-size: 12px;
}
.footnote__item {
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.footnote__back.footnote__back.footnote__back.footnote__back {
  display: inline-block;
  background-color: #0A2C67;
  padding: 4px;
  font-size: 6px;
  line-height: 1;
  color: white;
  vertical-align: top;
}
